.areaGame{
    height: 430px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 56px auto 0 auto;
    gap: 24px 80px;
    position: relative;
}

.areaGame::after{
    content: '';
    position: absolute;
    background: url('../Assets/bg-triangle.svg') no-repeat center;
    top: 80px;
    width: 100%;
    height: 290px;
}


@media(max-width:800px){
    .areaGame::after{
        content: '';
        position: absolute;
        background: url(/src/Assets/bg-triangle.svg) no-repeat center;
        top: 80px;
        width: 30%;
        height: 288px;
    }

    .areaGame{
        gap: 0 50px;
        height: 285px;
        width: 100%;
        margin: 40px auto 0 auto;

    }

    .mobileRock{
        position: absolute;
        top: 225px;
    }
}

@media(max-width:500px){
    .areaGame::after{
        width: 50%;
    }
}