*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

:root{
--ScissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
--PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
--RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
--LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
--Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
--DarkText: #3b4363;
--ScoreText: #2944bf;
--HeaderOutline: #606e85;
}

.background{
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    min-height: 100vh;
    padding-top: 48px;
}

